<header>
  <img
    src="assets/img/matheus.jpg"
    alt="Matheus Marano de Vasconcelos - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Matheus Marano de Vasconcelos</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor FullStack | Java | Spring | Angular | TypeScript/JavaScript</p>
    <p>São Paulo, São Paulo, Brasil</p>
    <p>
      Apaixonado por qualquer área de TI, em especial a programação com mais de 5 anos de experiencia na área.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/matheus-marano-55a0a21a3/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511968381616&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) 9 6838-1616</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:matheus.marano@outlook.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>matheus.marano&#64;outlook.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
