:root {
  --primary: #3755b8;
  --primary-010: #2442a1;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --white: #fff;

  --cinza-claro: rgb(230, 230, 230);

  --black: #0d0d14;
  --black-010: #1e1e22;

  --grey: #9b9ba0;
}
